.parent{
    width: 320px;
    height: 400px;
    border: 0.5px solid black;
    margin:auto;
    background-color: blue;
}

.child{
    width: 220px;
    height: 300px;
    border: 1px solid black;
    margin:50px auto;
    background-color: white;
}

.fimg{
    display:flex;
    margin-top:25px;
    margin-left: 10px;
    
}

.faceb{
    text-decoration: none;
    background-color: blue;
    color: aliceblue;
}

.login{
    text-align: center;
    display: inline;
    margin: 70px;
    font-size: 25px;
}

.or{
    text-align: center;
}

.fb{
    width: 35px;
    height: 25px;
    display: inline;
}

.userimg{
    display: flex;
    margin: 10px;
}

.passimg{
    display: flex;
    margin:10px;
}

.human{
    width: 25px;
    height: 20px;
    margin: 2px;

}

.key{
    width: 25px;
    height: 20px;
    margin-left: 2px;
}


.sub{
    margin-left: 50px;
    margin-top: 30px;
    width: 100px;
    background-color: blue;
    color: white;
}



